html{
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin: 0;
  font: 300 11px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif;
  /* font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;  */
  color: #444;
  /* background: #022c43; */
  background: #161516;
  /* background-image: url("./assets/images/banner-bg.png"); */
  overflow: hidden;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

