<div
  class="container mx-auto px-8 md:px-10 lg:px-20 xl:px-32"
  style="height: auto !important"
>
  <h1
    class="font-orbitron text-center font-bold dark:text-white text-4xl pb-10 my-4 text-blue-950"
  >
    Notable Projects
  </h1>
  <div
    class="relative flex size-full items-center justify-center overflow-hidden px-20 pb-20 pt-2"
  >
    <div>
      <div
        id="canvas-container-494b8052-67ab-ea5e-8431-387a0c520f51"
        style="
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          padding-top: 40px;
        "
      >
        <canvas
          id="canvas-494b8052-67ab-ea5e-8431-387a0c520f51"
          width="1000"
          height="1000"
          style="width: 100%; max-width: 70vh"
          title=""
          ><a title="icon" style="cursor: pointer"
            ><img
              height="42"
              width="42"
              alt="icon"
              src='' /></a>
          <a title="icon" style="cursor: pointer"
            ><img
              height="42"
              width="42"
              alt="icon"
              src='' /></a
          ><a title="icon" style="cursor: pointer"
            ><img
              height="42"
              width="42"
              alt="icon"
              src='' /></a
          ><a title="icon" style="cursor: pointer"
            ><img
              height="42"
              width="42"
              alt="icon"
              src='' /></a
          ><a title="icon" style="cursor: pointer"
            ><img
              height="42"
              width="42"
              alt="icon"
              src='' /></a
          ><a title="icon" style="cursor: pointer"
            ><img
              height="42"
              width="42"
              alt="icon"
              src='' /></a
          ><a title="icon" style="cursor: pointer"
            ><img
              height="42"
              width="42"
              alt="icon"
              src='' /></a
          ><a title="icon" style="cursor: pointer"
            ><img
              height="42"
              width="42"
              alt="icon"
              src='' /></a
          ><a title="icon" style="cursor: pointer"
            ><img
              height="42"
              width="42"
              alt="icon"
              src='' /></a
          ><a title="icon" style="cursor: pointer"
            ><img
              height="42"
              width="42"
              alt="icon"
              src='' /></a
          ><a title="icon" style="cursor: pointer"
            ><img
              height="42"
              width="42"
              alt="icon"
              src='' /></a
          ><a title="icon" style="cursor: pointer"
            ><img
              height="42"
              width="42"
              alt="icon"
              src='' /></a
          ><a title="icon" style="cursor: pointer"
            ><img
              height="42"
              width="42"
              alt="icon"
              src='' /></a
          ><a title="icon" style="cursor: pointer"
            ><img
              height="42"
              width="42"
              alt="icon"
              src='' /></a
          ><a title="icon" style="cursor: pointer"
            ><img
              height="42"
              width="42"
              alt="icon"
              src='' /></a
          ><a title="icon" style="cursor: pointer"
            ><img
              height="42"
              width="42"
              alt="icon"
              src='' /></a
          ><a title="icon" style="cursor: pointer"
            ><img
              height="42"
              width="42"
              alt="icon"
              src='' /></a
          ><a title="icon" style="cursor: pointer"
            ><img
              height="42"
              width="42"
              alt="icon"
              src='' /></a
          ><a title="icon" style="cursor: pointer"
            ><img
              height="42"
              width="42"
              alt="icon"
              src='' /></a
          ><a title="icon" style="cursor: pointer"
            ><img
              height="42"
              width="42"
              alt="icon"
              src='' /></a
          ><a title="icon" style="cursor: pointer"
            ><img
              height="42"
              width="42"
              alt="icon"
              src='' /></a
          ><a title="icon" style="cursor: pointer"
            ><img
              height="42"
              width="42"
              alt="icon"
              src='' /></a
          ><a title="icon" style="cursor: pointer"
            ><img
              height="42"
              width="42"
              alt="icon"
              src='' /></a
          ><a title="icon" style="cursor: pointer"
            ><img
              height="42"
              width="42"
              alt="icon"
              src='' /></a
          ><a title="icon" style="cursor: pointer"
            ><img
              height="42"
              width="42"
              alt="icon"
              src='' /></a
          ><a title="icon" style="cursor: pointer"
            ><img
              height="42"
              width="42"
              alt="icon"
              src='' /></a
          ><a title="icon" style="cursor: pointer"
            ><img
              height="42"
              width="42"
              alt="icon"
              src='' /></a
          ><a title="icon" style="cursor: pointer"
            ><img
              height="42"
              width="42"
              alt="icon"
              src='' /></a
          ><a title="icon" style="cursor: pointer"
            ><img
              height="42"
              width="42"
              alt="icon"
              src='' /></a
          ><a title="icon" style="cursor: pointer"
            ><img
              height="42"
              width="42"
              alt="icon"
              src='' /></a
        ></canvas>
      </div>
    </div>
  </div>
  