.timeline-container {
  padding: 2rem;
  width: 50%;
}

.timeline-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 100px auto;
}

.container{
    padding: 10px 50px;
    
}
