.timeline-container {
  padding: 1rem;
  width: 50%;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 100px auto;
}

.container{
    padding: 10px 50px;
    position: relative;
    width: 50%;
    background: rgba(0, 0 , 0, 0.3);
}
.text-box {
  padding: 20px 30px;
  background: #fff;
  border-radius: 6px;
  position: relative;
  font-size: 15px;
}
