.timeline {
  position: relative;
  width: 55%;
  margin: 10px 100px;
}
.container1{
    padding: 10px 50px;
    position: relative;
    width: 80%;
    background: rgba(0, 0 , 0, 0.3);
}


.text-box {
  padding: 20px 30px;
  background: #ff1a1a;
  border-radius: 6px;
  position: relative;
  font-size: 15px;
}


.description {
  margin: 0;
  color: #333;
}

