@property --rotate{
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
}
:root{
    --card-height: 65vh;
    --card-width: 50vh;
}
.portfolio-page {
    padding-left: 100px;
    padding-right: 50px;
    width: calc(100% - 150px);
    position: absolute;
    height: 100%;
    overflow: auto;
    

    h1.page-title {
        margin-left: 100px;
        margin-top: 60px;
    }

    p{
        margin-left: 100px;
        margin-top: 20px;
        font-size: 90px;
    }
}
.menu{
    // display: flex;
    // justify-content: center;
    // background-color: blue;
    // align-items: center;
    // overflow: hidden;
    position: relative;
    padding-left: 40px;
    left: 50px;
    height: 60%;
    width: 90%;
    font-family: "Roboto", sans-serif;
    transition: 0.25s;
} 

.slick-slide > div{
    margin: 10px 10px;
}
