@property --rotate{
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
}
:root{
    --card-height: 65vh;
    --card-width: 50vh;
}
.portfolio-page {
    padding-left: 100px;
    padding-right: 50px;
    width: calc(100% - 150px);
    position: absolute;
    height: 100%;
    overflow: auto;
    

    h1.page-title {
        margin-left: 100px;
        margin-top: 60px;
    }

    p{
        margin-left: 100px;
        margin-top: 20px;
        font-size: 90px;
    }
}
.menu{
    // display: flex;
    // justify-content: center;
    // background-color: blue;
    // align-items: center;
    // overflow: hidden;
    position: relative;
    padding-left: 40px;
    left: 50px;
    height: 60%;
    width: 90%;
    font-family: "Roboto", sans-serif;
    transition: 0.25s;
} 

.slick-slide > div{
    margin: 10px 10px;
}


@keyframes spin{
    0%{
        --rotate: 0deg;
    }
    100%{
        --rotate: 360deg;
    }
}
.cards .card .label{
    display: flex;
    position: absolute;
    right: 0;
    height: 40px;
    transition: 0.5s cubic-bezier(.05, .61, .41, .95);
}
.cards .card.active .label{
    bottom: 20px;
    left: 20px;
    overflow: hidden;
}
.cards .card.active {
    flex-grow: 10000;
    background-size: auto 100%;
    overflow: visible;
}
.cards .card:not(.active) .label{
    bottom: 10px;
    left: 10px;
}
.cards .card .shadow{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px; 
}

.bg-image{
    position: absolute;
    width: 400px;
    height: 330px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    border-top-left-radius: 30px;
    // border-radius: 30px;
}
