.portfolio-page {
    padding-left: 100px;
    padding-right: 50px;
    width: calc(100% - 150px);
    position: absolute;
    height: 100%;
    overflow: auto;
    

    h1.page-title {
        margin-left: 100px;
        margin-top: 60px;
    }

    p{
        margin-left: 100px;
        margin-top: 20px;
        font-size: 90px;
    }
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 60%;
}